<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">

    <title>Search Campaign Automation Tool</title>
  </head>
  <body>
    <div class="container">
      <!-- <div class="mb-5"></div>
      <div class="mb-2"><img width=300px src="/static/images/gps_logo.png"></div> -->
      <div class="mb-2">
        <h1>Please install the app first</h1>
      </div>
      <div>
        <p>Contact your website admin.</p>
        <p>Please run the setup.py to install.</p>
      </div>
      <div>
        <a href="/" type="button" class="btn btn-primary">Retry</a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>